* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: #f5f5f5;
  }
  
  /* NAVBAR */
  .navbar {
    background: #2d2d2d;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h2 {
    font-size: 20px;
  }
  
  .logo p {
    font-size: 12px;
    color: #ccc;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    font-size: 13px;
    cursor: pointer;
  }
  
  /* HERO */
  .hero {
    background: #555;
    color: #fff;
    padding: 80px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero-text {
    width: 50%;
  }
  
  .hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
  }
  
  .hero-text button {
    background: #b40707;
    border: none;
    padding: 12px 25px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .hero-img img {
    width: 300px;
  }
  
  /* ABOUT */
  .about {
    background: #fff;
    padding: 80px 60px;
    display: flex;
    gap: 60px;
    align-items: center;
  }
  
  .about-img img {
    width: 280px;
  }
  
  .about-text h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .small-text {
    font-size: 14px;
    color: #555;
  }
  
  .resume-btn {
    background: #a40404;
    border: none;
    padding: 12px 25px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* RESPONSIVE */
  @media (max-width: 900px) {
    .hero, .about {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text, .about-text {
      width: 100%;
    }
  
    .navbar ul {
      display: none;
    }
  }
  